{% extends "renderprofile.html" %}
{% block post %}
{% for user in post %}
{% if post.media %}

this is when we have media 
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">32 min</span>
  <h4>Angie Jane</h4><br>
  <hr class="w3-clear">
  <p>Have you seen this?</p>
  <img src="p.png" style="width:100%" class="w3-margin-bottom">
  <p></p>
  <a href  = {{user.append_urls_like}} , class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
  <a class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a> 
</div>  

{% else %}
this is when we dont have media  
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">1 min</span>
  <h4>John Doe</h4><br>
  <hr class="w3-clear">
  <p>{{user.body}}</p>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
      </div>
      <div class="w3-half">
        <p>{{post.object.body}}</p>

    </div>
  </div>
  <a href  = {{user.append_urls_like}} , class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
  <a class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a> 
{% endif  %}

</div>
<!-- End Middle Column -->

{% endfor  %}
</div>

<!-- Right Column for requests or ad -->
<div class="w3-col m2">
<div class="w3-card w3-round w3-white w3-center">
  <div class="w3-container">
    <p>Upcoming Events:</p>
    <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
    <p><strong>Holiday</strong></p>
    <p>Friday 15:00</p>
    <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
  </div>
</div>
<br>
{{info}}
{% endblock post %}
